@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100:300:400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:nth-child(even) {
  background-color: wheat;
}

:nth-child(odd) {
  background-color:cadetblue;
}
  

body {
  min-height: 100vh;
  width: 100%;

  font-size: max(1.5vw, 16px);
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.icon {
  width: 30px;
  height: auto;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.container .sidebar-container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 80px;

  background-color:darkseagreen;
}

.container .sidebar-container .logo {
  display: flex;
  gap:20px;
  align-items: center;

}

.container .sidebar-container .logo h2 {
  font-size: max(1.5vw, 20px);

  color: white;
}

.container .sidebar-container .logo img {
  width: max(30%, 45px);
  height: auto;
}

.container .sidebar-container nav ul > li {
  list-style-type: none;
}

.container .sidebar-container nav ul > li > a {
  text-decoration: none;
  color:white;
  font-weight:bold;
}

.container .sidebar-container nav#sidebar-top ul,
.container .sidebar-container nav#sidebar-bottom ul {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  padding-left: calc((max(30%, 45px) / 2) - 25px);
}

.container .sidebar-container nav#sidebar-top ul li,
.container .sidebar-container nav#sidebar-bottom ul li {
  display: flex;
  align-items: center;
  gap: calc(max(45px, 30%) - 45px);
}

.container .content-container {
  display: grid;
  grid-template-rows: 1fr 1fr 8fr;
}

.container .content-container .topnav-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
  gap: 20px;
  align-items: center;
}

.container .content-container .topnav-container > div {
  display: flex;
  gap: 20px;
}

.container .content-container .topnav-container > div #search {
  /* height: 100%; */
  width: 70%;
  border-radius: 20px;

  padding: 10px;
  border:none;
}

.container .content-container .topnav-container .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content-container .topnav-container .user .name {
  font-size: 100%;
}

.user-avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.container .content-container .user-actions-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container .content-container .user-actions-container div {
  width: 45%;
}


.container .content-container .user-actions-container div:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container .content-container .user-actions-container div:first-child img {
  width: 80px;
  height: 80px;
}

.container .content-container .user-actions-container div .name::before {
  content: "Hi there,";
  font-size: 1rem;
}

.container .content-container .user-actions-container div .name {
  display: flex;
  flex-direction: column;
}

.container .content-container .user-actions-container .user-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.container .content-container .user-actions-container .user-actions button {
  background-color: cadetblue;
    padding: 10px 0px;
    border-radius: 18px;
    border: none;
    width: 25%;
    font-weight: bold;
}

.container .content-container .bulletin-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);

}

.container .content-container .bulletin-container .projects-container {
  grid-row: span 2;

  display: flex;
  flex-direction: column;

  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: 1fr; */
}

.container .content-container .bulletin-container .projects-container > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;

  height: 100%;
  padding: 8px;
}

.container .content-container .bulletin-container .projects-container > div .project-card {
  height: 100%;
  background-color: white;
  padding: 20px 8px;

  border-radius: 5px;
  border-left: 5px solid rgb(228, 193, 17);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .content-container .bulletin-container .projects-container > div .project-card div:last-child {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.container .content-container .bulletin-container .announcement-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container .content-container .bulletin-container .announcement-container > div {
  padding: 20px;
  display: grid;
  gap:20px;
}