@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100:300:400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:nth-child(even) {
  background-color: wheat;
}

:nth-child(odd) {
  background-color:cadetblue;
}
  

body {
  min-height: 100vh;
  width: 100%;

  font-size: 16px;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.icon {
  width: min(30%, 45px);
  height: auto;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.container .sidebar-container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 80px;

  background-color:darkseagreen;
}

.container .sidebar-container .logo {
  display: flex;
  gap:20px;
  align-items: center;

}

.container .sidebar-container .logo h2 {
  font-size: max(1.5vw, 20px);

  color: white;
}

.container .sidebar-container .logo img {
  width: max(30%, 45px);
  height: auto;
}

.container .sidebar-container nav ul > li {
  list-style-type: none;
}

.container .sidebar-container nav ul > li > a {
  text-decoration: none;
  color:white;
  font-weight:bold;
}

.container .sidebar-container nav#sidebar-top ul,
.container .sidebar-container nav#sidebar-bottom ul {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  padding-left: calc((max(30%, 45px) / 2) - 25px);
}

.container .sidebar-container nav#sidebar-top ul li,
.container .sidebar-container nav#sidebar-bottom ul li {
  display: flex;
  align-items: center;
  gap: calc(max(45px, 30%) - 45px);
}

.container .content-container .topnav-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
  gap: 20px;
}

.container .content-container .topnav-container > div {
  display: flex;
  gap: 20px;
}

.container .content-container .topnav-container > div #search {
  height: 100%;
  width: 70%;
  border-radius: 20px;
}

.container .content-container .topnav-container .user {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
